<h1>Welcome to my Family Tree</h1>

<%= form_with scope: :family_tree, url: family_trees_path, local: true do |f| %>

<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

  <%= f.submit 'Save your family tree', class: 'btn btn-primary' %>
<% end %>
