<!-- <div class="media">
  <div class="media-body">
     <% @members.each do |member| %>
       <%= member.first_name %>
       <%= member.last_name %>
       <%= member.relationship %>
       <%= member.date_of_birth %>
     <% end %>
  </div>
</div> -->
